ReferenceService/ReferenceService.WebApi/Service References/PrintServerBridgeWS/CommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:st="http://server.ru/service/types" elementFormDefault="qualified" targetNamespace="http://server.ru/service/types" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="systemCodeEnum">
    <restriction base="string">
      <enumeration value="sys1" />
      <enumeration value="sys2" />
      <enumeration value="sys3" />
    </restriction>
  </simpleType>
  <complexType name="contractUniqueIdType">
    <sequence>
      <element name="contractNumber" type="string" />
      <element name="systemCode" type="st:systemCodeEnum" />
      <element name="branchCode">
        <simpleType>
          <restriction base="string">
            <minLength value="1" />
            <maxLength value="6" />
            <pattern value="\d+" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="currencyType">
    <restriction base="string">
      <pattern value="[A-Z]{3,3}" />
      <length value="3" />
      <enumeration value="RUR" />
      <enumeration value="USD" />
      <enumeration value="EUR" />
    </restriction>
  </simpleType>
  <element name="contractUniqueId" type="st:contractUniqueIdType" />
  <simpleType name="accountNumberType">
    <restriction base="string">
      <pattern value="\d{20,20}" />
    </restriction>
  </simpleType>
  <simpleType name="CUIDType">
    <restriction base="long" />
  </simpleType>
  <complexType name="headerType">
    <sequence>
      <element name="systemCode" type="st:systemCodeEnum" />
      <element name="userId">
        <simpleType>
          <restriction base="string">
            <pattern value="[A-Z\d]*" />
          </restriction>
        </simpleType>
      </element>
    </sequence>
  </complexType>
  <complexType name="GID">
    <sequence>
      <element name="systemCode" type="st:systemCodeEnum" />
      <element name="branch" type="string" />
      <element name="typeObject" type="st:TypeObjectEnum" />
      <element name="id" type="string" />
    </sequence>
  </complexType>
  <element name="header" type="st:headerType" />
  <element name="headerType" nillable="true" type="st:headerType" />
  <element name="systemCodeEnum" nillable="true" type="st:systemCodeEnum" />
  <simpleType name="IsResidentEnum">
    <restriction base="string">
      <enumeration value="RESIDENT" />
      <enumeration value="NRESIDENT" />
    </restriction>
  </simpleType>
  <simpleType name="TypeObjectEnum">
    <restriction base="string">
      <enumeration value="INTERBANK" />
      <enumeration value="DEBITCARD" />
      <enumeration value="CREDITCARD" />
    </restriction>
  </simpleType>
  <simpleType name="DocumentTypeEnum">
    <restriction base="string">
      <enumeration value="01" />
      <enumeration value="02" />
    </restriction>
  </simpleType>
  <element name="gid" type="st:GID" />
  <simpleType name="GenderTypeEnum">
    <restriction base="string">
      <length value="1" />
      <enumeration value="M" />
      <enumeration value="F" />
    </restriction>
  </simpleType>
  <element name="systemCode" type="st:systemCodeEnum" />
</schema>