ReferenceService/ReferenceService.WebApi/Service References/PrintServerBridgeWS/PrintServerBridgeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.server.ru/PrintServerBridgeWS/" name="PrintServerBridgeWS" targetNamespace="http://www.server.ru/PrintServerBridgeWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://server.ru/service/result" targetNamespace="http://www.server.ru/PrintServerBridgeWS/">
      <xsd:import schemaLocation="ServiceResult.xsd" namespace="http://server.ru/service/result" />
      <xsd:element name="storeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestNumber" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ReportProperties" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="storeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serviceResult" type="Q1:serviceResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ReportProperties">
        <xsd:sequence>
          <xsd:element name="reportCode" type="xsd:string" />
          <xsd:element name="numberOfCopies" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="parameters" type="tns:ReportEntry" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportEntry">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="storeRequest">
    <wsdl:part name="parameters" element="tns:storeRequest" />
  </wsdl:message>
  <wsdl:message name="storeResponse">
    <wsdl:part name="parameters" element="tns:storeResponse" />
  </wsdl:message>
  <wsdl:portType name="PrintServerBridgeWS">
    <wsdl:operation name="store">
      <wsdl:input message="tns:storeRequest" />
      <wsdl:output message="tns:storeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrintServerBridgeWSSOAP" type="tns:PrintServerBridgeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="store">
      <soap:operation soapAction="http://www.server.ru/PrintServerBridgeWS/store" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintServerBridgeWS">
    <wsdl:port name="PrintServerBridgeWSSOAP" binding="tns:PrintServerBridgeWSSOAP">
      <soap:address location="http://www.server.ru/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>