ReferenceService/ReferenceService.WebApi/Service References/EventHubWS/EventHubWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.server.ru/EventHubWS/" name="EventHubWS" targetNamespace="http://www.server.ru/EventHubWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://server.ru/service/result" targetNamespace="http://www.server.ru/EventHubWS/">
      <xsd:import schemaLocation="ServiceResult.xsd" namespace="http://server.ru/service/result" />
      <xsd:element name="sendEventOfflineRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eventTypeId" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="eventDate" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="eventDetails" type="tns:EventDetails" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sendEventOfflineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serviceResult" type="Q1:serviceResultType" />
            <xsd:element minOccurs="0" name="idEvent" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EventDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="eventDetail" type="tns:EventDetail" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EventDetail">
        <xsd:sequence>
          <xsd:element name="parameter" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendEventOfflineRequest">
    <wsdl:part name="parameters" element="tns:sendEventOfflineRequest" />
  </wsdl:message>
  <wsdl:message name="sendEventOfflineResponse">
    <wsdl:part name="parameters" element="tns:sendEventOfflineResponse" />
  </wsdl:message>
  <wsdl:portType name="EventHubWS">
    <wsdl:operation name="sendEventOffline">
      <wsdl:input message="tns:sendEventOfflineRequest" />
      <wsdl:output message="tns:sendEventOfflineResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventHubWSSOAP" type="tns:EventHubWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendEventOffline">
      <soap:operation soapAction="http://www.server.ru/EventHubWS/sendEventOffline" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventHubWS">
    <wsdl:port name="EventHubWSSOAP" binding="tns:EventHubWSSOAP">
      <soap:address location="http://www.server.ru/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>