ReferenceService/ReferenceService.WebApi/Service References/EventHubWS/ServiceResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:sres="http://server.ru/service/result" xmlns:st="http://server.ru/service/types" elementFormDefault="qualified" targetNamespace="http://server.ru/service/result" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="CommonTypes.xsd" namespace="http://server.ru/service/types" />
  <annotation>
    <documentation>
      <name xmlns="http://www.w3.org/2001/XMLSchema">?????????????????? ???????????????? ?????????????????? ?? ??????????????.</name>
      <version xmlns="http://www.w3.org/2001/XMLSchema">
        <number>1.0</number>
        <date>13.05.2010</date>
        <developer>?????????????? ??????????????</developer>
      </version>
      <history xmlns="http://www.w3.org/2001/XMLSchema">
        <record date="13.05.2010" version="1.0" who="dvolodin">
					xsd-???????? ????????????
				</record>
      </history>
    </documentation>
  </annotation>
  <simpleType name="resultTypeEnum">
    <restriction base="string">
      <enumeration value="OK" />
      <enumeration value="ERROR" />
      <enumeration value="WARNING" />
      <enumeration value="INFO" />
    </restriction>
  </simpleType>
  <simpleType name="errorCategory">
    <annotation>
      <documentation>
				?????????????????? ?????????????????? ????????????. ?? ?????????????????? ????????????
				???????????????????? ???????????? ?????? ?????????????????? ????????????: system ??
				logical. ?????????? ?????????? ???????????????????? ????????????????????????????
				?????????????????????????????? ?????????????????? ????????????.
			</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="system" />
      <enumeration value="logical" />
    </restriction>
  </simpleType>
  <complexType name="serviceResultType">
    <sequence>
      <element name="systemCode" type="st:systemCodeEnum">
        <annotation>
          <documentation>
						?????? ??????????????, ?????????????? ?????????????? ??????????????????. ??????????????
						???????????????????? ???????????????? ???????????? ?? ?????????????????????????? ????????
						systemCodeEnum.
					</documentation>
        </annotation>
      </element>
      <element name="resultType" type="sres:resultTypeEnum">
        <annotation>
          <documentation>
						?????? ?????????????????????????? ????????????. ?????????????????? ????????????????
						?????????????????? ?????????? ???????????????????????????? ????????
						systemCodeEnum: OK - ???????????? ???????????????????? ??????
						????????????; ERROR - ???????????? ???????????????????? ?? ????????????????
						WARNING - ???????????? ???????????????????? ?????? ????????????, ???? ????????
						????????????????????????????; INFO - ???????????? ???????????????????? ??????
						????????????. ???????? ???????????????????????????? ????????????????????;
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="resultCode" type="string">
        <annotation>
          <documentation>
						?????? ?????????????????????????? ????????????????????
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="resultText" type="string">
        <annotation>
          <documentation>
						?????????? ?????????????????????????? ????????????????????
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="resultCategory" type="sres:errorCategory">
        <annotation>
          <documentation>
						???????? ?? ???????????????????? ???????????????????????? ????????????, ???? ????
						??????????????????.
					</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="resultDetail" type="anyType">
        <annotation>
          <documentation>
						?????????????????? ???????????????????? ?????????????????????????? ????????????????????.
						?????????? ?????????? ???????????????????????????? ?????????????????? ????????????????
						???????????? ?? ?????????????????? ???????????????? ??????????????, ??????
						?????????????????????????????? ????????????, ?????????????????????? ?????? ??????????????.
						????????????????????, ???????????????????????? ??????????, ??????????
						???????????????????????? ?????????? ???????????? ?????? ????????????????????????
						XML-??????????????????.
					</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="serviceResult" type="sres:serviceResultType" />
  <element name="resultTypeEnum" nillable="true" type="sres:resultTypeEnum" />
</schema>